<!DOCTYPE html>
<html>
<head>
	<title>VLP Navigation Tool</title>
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/main.css" />
</head>
<body>
	<div>
		Hello, World!
	</div>
	<script type="text/javascript" src="scripts/bundle.js"></script>
</body>